@charset "UTF-8";


body {
  margin: 0;
  min-height: 100vh;
  position: relative;
  /*←相対位置*/
  padding-bottom: 120px;
  /*←footerの高さ*/
  box-sizing: border-box;
  background-color: rgb(199, 199, 199);
}

/* ヘッダーここから */

.header .header-layout h1 {
  line-height: 260%;
  font-size: 320%;
  color: white;
  font-weight: 900;
  margin: 10px;
  line-height: 50px;
}

.header .header-layout {
  display: flex;
  height: 60px;
  background-color: #333;
  justify-content: center;
  position: relative;
}



html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

#menu {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

#menu li {
  display: block;
  float: left;
  width: 20%;
  margin: 0;
  padding: 0;
  border-top: 2px solid hsl(0, 0%, 38%);
}

#menu li a {
  display: block;
  padding: 12px 0 10px;
  background: #333;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#menu li a:hover {
  background: rgb(90, 90, 90);
  transition: 0.7s;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  #menu li {
    width: 50%;

  }
}

@media only screen and (max-width: 600px) {
  #menu {
    display: none;
  }

  #menu li {
    width: 100%;
  }

  #toggle {
    display: block;
    position: relative;
    width: 100%;
    background: #222;

  }

  #toggle a {
    display: block;
    position: relative;
    padding: 12px 0 10px;
    border-bottom: 1px solid #444;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }

  #toggle a:hover {
    background: #444;
  }

  #toggle:before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #fff;
  }

  #toggle a:before,
  #toggle a:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 4px;
    background: #222;
  }

  #toggle a:before {
    margin-top: -6px;
  }

  #toggle a:after {
    margin-top: 2px;
  }
}

.btn {
  margin: 15px 50px 10px auto;
  line-height: 35px;
  font-size: 20px;
  position: absolute;
  right: 0;
}

.btn a {
  display: block;
  width: 160%;
  height: 100%;
  text-decoration: none;
  background: #616161;
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  transition: all 0.4s ease;
}

.btn a:hover {
  background: #181818;
  color: #FFFFFF;
  margin-left: 0px;
  margin-top: 0px;
  box-shadow: none;
}

/* ヘッダーここまで */
/* メインここから */

.main-top {
  background-color: #4f4f74;
}

.main-top .greeting {
  line-height: 80px;
  font-size: 320%;
  font-weight: 900;
  text-align: center;
}

/* メインここまで */
/* topここから */

.top-img img {
  width: 100%;
}

.top-img {
  width: 478px;
  height: 322px;
  overflow: hidden;
  z-index: 1;
  margin: 86px auto 0 auto;
  position: relative;
  /* 相対位置指定 */
}

.top-img .caption {
  font-size: 400%;
  text-align: center;
  padding-top: 80px;
  color: #fff;
}

.top-img .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  /* 絶対位置指定 */
  top: 0;
  left: 0;
  opacity: 0;
  /* マスクを表示しない */
  background-color: rgba(0, 0, 0, 0.4);
  /* マスクは半透明 */
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.top-img:hover .mask {
  opacity: 1;
  /* マスクを表示する */
}

@media only screen and (max-width: 600px) {
  .top-img {
    margin: 50px auto 0 auto;
  }
}

/* topここまで */
/* aboutここから */

.profile {
  background: #333;
  width: 250px;
  padding: 1.6rem;
  margin: 0 auto;
  margin-top: 86px;
}

.profile__img {
  width: 100%;
}

.profile__name,
.profile__yomi,
.profile__desc {
  color: #fff;
}

.profile__name {
  padding: 1.6rem 0 .2rem;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: .1rem;
}

.profile__yomi {
  font-size: .8rem;
  letter-spacing: .1rem;
  opacity: .7;
}

.profile__desc {
  padding: 1.6rem 0 0;
  line-height: 1.6rem;
}

@media screen and (max-width: 767px) {
  .profile {
    margin-top: 143px;
  }
}

@media only screen and (max-width: 600px) {
  .profile {
    width: 180px;
  }

  .profile__img {
    width: 100%;
  }
}

/* aboutここまで */
/* historyここから */

table {
  box-sizing: border-box;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: left;
}

.rekishi {
  padding-top: 40px;
}

.origin-list .list {
  text-align: center;
  font-size: 13px;
  padding: 20px;
}

table th,
table td {
  border: 1px solid #999;
  padding: .5em 1em;
}

table th {
  background: #616161;
}

table td {
  background: #eee;
}


@media screen and (max-width: 900px) {
  .origin-list {
    display: block;
  }

  .origin-list .list {
    width: 100%;
  }
}



/* historyここまで */
/* favoriteここから */

.slider li {
  height: 180px;
  /*スライダー内の画像を横幅100%に*/

}

.slider li img {
  height: 100%;
  /*スライダー内の画像を横幅100%に*/

}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
  margin: 0 10px;
  /*スライド左右の余白調整*/
}


/*========= レイアウトのためのCSS ===============*/

body {
  background: #eee;
}

h2 {
  font-size: 360%;
}

h2,
p {
  text-align: center;
  padding: 20px;
  margin-top: 80px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #333;
}

a:hover,
a:active {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .favorite_title{
    margin-top: 110px;
  }
}

@media screen and (max-width: 600px) {
  .favorite_title{
    margin-top: 10px;
  }
}

/* favoriteここまで */
/* certificationここから */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.certification-box {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 2%;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.certification-title {
  background: #333;
  padding: 20px 0;
  /*PADDING TODOS OS LADOS DE 20PX*/
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
}

form {
  background: #f0f0f0;
  padding: 6% 4%;
}

input[type="password"] {
  width: 76%;
  height: 20px;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 4% 4% 4% 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 95%;
  color: #555;
}

.iconPassword {
  width: 20px;
  height: 20px;
  background-color: #6e6e6e;
  float: left;
  padding: 4% 4% 4% 4%;
  margin-bottom: 4%;
  background-repeat: no-repeat;
  background-image: url(https://cdn4.iconfinder.com/data/icons/font-awesome-2/2048/f09c-32.png);
  background-position: center;
  border: 1px solid #ccc;
}

.iconUser {
  width: 20px;
  height: 20px;
  background-color: #6e6e6e;
  float: left;
  padding: 4% 4% 4% 4%;
  margin-bottom: 4%;
  background-repeat: no-repeat;
  background-image: url(https://cdn4.iconfinder.com/data/icons/font-awesome-2/2048/f007-32.png);
  background-position: center;
  border: 1px solid #ccc;
}

input[type="text"] {
  width: 76%;
  height: 20px;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 4% 4% 4% 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 95%;
  color: #555;
}

input[type="submit"] {
  width: 100%;
  background: #333;
  border: 0;
  padding: 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  color: #fff;
  cursor: pointer;
  transition: background .3s;
  -webkit-transition: background .3s;
}

input[type="submit"]:hover {
  background: #616161;
  transition: 0.7s;
}

::-webkit-input-placeholder {}

/* certificationここまで */
/* to do listここから */


/* to do listここまで */
/* secretここから */

.secret-img {
  text-align: center;
}

.secret-img img {
  height: 400px;
  margin-top: 24px;
}

@media screen and (max-width: 767px) {
  .secret-img img {
    display: block;
    margin: 140px auto 0;
  }
}

/* secretここまで */
/* errここから */

.erroor-box {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 2%;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.err-message {
  font-size: 30px;
  text-align: center;
  color: #ff0000;
  padding-top: 60px;
}

@media screen and (max-width: 767px) {
  .err-message {
    padding-top: 150px;
  }
}

/* errここまで */
/* フッターここから */

footer {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.foot-wrap .menu-left,
.menu-center,
.menu-right {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin: 7px auto;
}

.foot-wrap ul {
  list-style: none;
  padding: 0;
  line-height: 30px;
}

.foot-wrap {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.foot-wrap h3 {
  /*border-bottom: 3px solid #2fccba;*/
  border-bottom: 2px solid hsl(0, 0%, 38%);
  padding: 7px;
}

.foot-wrap a {
  text-decoration: none;
  color: #fff;
}

.foot-wrap a:hover {
  color: deeppink;
}

.foot-wrap .cmark {
  display: block;
  padding: 10px;
  border-top: 1px solid #616161;
  width: 80%;
  margin: 0 auto;
  color: gray;
}

@media screen and (max-width: 767px) {

  .foot-wrap .menu-left,
  .menu-center,
  .menu-right {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .foot-wrap .cpr {
    display: inline;
  }
}

/* フッターここまで */
