@charset "UTF-8";


body {
  margin: 0;
}

/* ヘッダーここから　*/

.header div h1 {
  line-height: 260%;
  font-size: 320%;
  color: white;
  font-weight: 900;
  margin: 0;
  line-height: 50px;
}

.header .header-layout {
  display: flex;
  background-color: #333;
  justify-content: center;
  position: relative;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

#menu {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

#menu li {
  display: block;
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
}

#menu li a {
  display: block;
  padding: 12px 0 10px;
  background: #333;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

#menu li a:hover {
  background: #444;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  #menu li {
    width: 50%;
    border-bottom: 1px solid #444;
  }
}

@media only screen and (max-width: 600px) {
  #menu {
    display: none;
  }

  #menu li {
    width: 100%;
  }

  #toggle {
    display: block;
    position: relative;
    width: 100%;
    background: #222;
  }

  #toggle a {
    display: block;
    position: relative;
    padding: 12px 0 10px;
    border-bottom: 1px solid #444;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }

  #toggle:before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #fff;
  }

  #toggle a:before,
  #toggle a:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 10px;
    width: 20px;
    height: 4px;
    background: #222;
  }

  #toggle a:before {
    margin-top: -6px;
  }

  #toggle a:after {
    margin-top: 2px;
  }
}

.btn {

  margin: 5px 20px 5px auto;
  line-height: 35px;
  font-size: 20px;
  position: absolute;
  right: 0;
}

.btn a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background: #4f4f74;
  text-align: center;
  color: #FFFFFF;
  font-size: 20px;
  transition: all 0.4s ease;
}

.btn a:hover {
  background: #90ad77;
  color: #FFFFFF;
  margin-left: 0px;
  margin-top: 0px;
  box-shadow: none;
}

/*　ヘッダーここまで　*/
/* メインここから */

/* メインここまで */
/* フッターここから */

footer {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.foot-wrap .menu-left,
.menu-center,
.menu-right {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin: 10px auto;
}

.foot-wrap ul {
  list-style: none;
  padding: 0;
  line-height: 40px;
}

.foot-wrap {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.foot-wrap h3 {
  border-bottom: 3px solid #2fccba;
  padding: 10px;
}

.foot-wrap a {
  text-decoration: none;
  color: #fff;
}

.foot-wrap a:hover {
  color: deeppink;
}

.foot-wrap .cmark {
  display: block;
  padding: 10px;
  border-top: 1px solid gray;
  width: 80%;
  margin: 0 auto;
  color: gray;
}

@media screen and (max-width: 767px) {

  .foot-wrap .menu-left,
  .menu-center,
  .menu-right {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .foot-wrap .cpr {
    display: inline;
  }
}

/* フッターここまで */
